h1 {
  text-decoration: underline;
}

.tableColumn {
  border-right: black solid 2px;
  padding: 10px;
  border-bottom: blue solid 1px;
  border-width: 2px;
  width: 15vw;
}

.filterInput {
  background-color: lightgray;
}
